transformers==4.56.2
torch>=2.2.0
datasets==2.21.0
accelerate==1.10.1
evaluate==0.4.2
seqeval==1.2.2

pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1

fastapi>=0.100.0
uvicorn[standard]>=0.20.0
pydantic>=2.0.0
